<template>
  <div class="GoBack">
      <span @click="goBack">返回</span>
      <br>
      <router-link :to="from">返回到上一个路由{{from}}</router-link>
  </div>
</template>

<script>

export default {
  components: {

  },
  data () {
    return {
      from: ''
    }
  },
  methods: {
      goBack () {
          this.$router.go(-1);
      }
  },
  beforeRouteEnter: (to, from, next) => {
    next(vm => {
      vm.from = from.path
    })
  }
}
</script>

<style>
.GoBack {
  color: skyblue;
  cursor: pointer;
}
</style>