<template>
  <div class="Tab">
      <go-back></go-back>
      <hr>
      <router-link to="/test-router/1">test-router</router-link>
      <hr>
      <router-link to="/hello-world">hello-world</router-link>
      <hr>
  </div>
</template>

<script>
import GoBack from './GoBack'
export default {
  name: 'tab',
  components: {
      GoBack
  },
  data () {
    return {

    }
  }
}
</script>

<style>
</style>