<template>
  <div class="test-router">
      我是测试组件内的钩子函数
      <ul>
        <li>进入</li>
        <li>更新</li>
        <li>离开</li>
      </ul>
      <go-back></go-back>
  </div>
</template>

<script>
import GoBack from './GoBack'
export default {
  name: 'testRouter',
  data () {
    return {

    }
  },
  components: {
    GoBack
  },
  mounted () {
    this.$log('123')
  },
  beforeRouteEnter: (to, from, next) => {
    // eslint-disable-next-line
    next((vm) => {
      // vm.$log('to:Route', to)
      // vm.$log('from:Route', from)
      // vm.$log(next)
    })
  },
  beforeRouteUpdate: function (to, from, next)  {
    this.$log('我是组件更新时的钩子函数触发')
    next()
  },
  beforeRouteLeave: function (to, from, next) {
    this.$log('我是导航离开该组件的时调用我')
    next()
  }
}
</script>

<style>
</style>
